<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    <h1>회원가입</h1>
    <form action="/users/join" method="post">
        <label>이름: <input type="text" name="name" ></label><br/>
        <label>이메일: <input type="email" name="email" ></label><br/>
        <label>패스워드: <input type="password" name="password" ></label><br/>
        <button type="submit">가입</button>
    </form>
    <p>이미 계정이 있으면<a href="/users/login">로그인</a></p>
</body>
</html>